name: 'Go Setup'
description: 'Sets up Go environment with caching'

inputs:
  go-version:
    description: 'Go version to use'
    required: false
    default: '1.26.0'

runs:
  using: "composite"
  steps:
    - name: Set up Go
      uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
      with:
        go-version: ${{ inputs.go-version }}
        cache: true
